#home{
  max-width: 1440px;
  margin: auto;  
}
.home{
  flex-direction: row;
  flex-wrap: wrap;
  width:100%
}
.home-colleges{
  font-family: sans-serif;
  margin:50px 0px 30px 3%;
  font-size: 18.5px;
  font-weight: 500;
  line-height: 0.97;
  text-align: left;
  color: #444444;
}

#tile{
  width:50%;
}

@media (max-width:1300px){
  .home{
    display: block;
    width:100%
  }
  #tile{
    width:100%;
  }
}

.tile{
  padding: 28.3px 13px 10.8px 14.3px;
  margin:37px auto; 
  width:640px;
  position: relative;
  padding: 0 0 10px;
  border-radius: 3.8px;
  box-shadow: 0 0 19px 0 rgba(68, 68, 68, 0.1);
  border: solid 0.2px #d8d8d8;
  background-color: #fff;
}
/* img{
  width:100%;
  filter: brightness(30%);
  position: absolute;
  top:0;
  left:0
} */


/* image section */

.image-container{
  /* background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url("../images/college_01.jpg"); */
  width:100%;
  height:233.2px;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
}
/* .second{
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url("../images/college_02.jpg");
} */

.promoted{
  width: 152px;
  height: 35px;
  position: absolute;
  right:0;
  top:-15px;
  background:#68a7ff;
}
.promoted:before{
  content: '';
  position: absolute;
  right:100%;
  width: 0; 
	height: 0; 
	border-bottom: 17.5px solid #68a7ff; 
	border-top: 17.5px solid #68a7ff; 
	border-left: 20px solid transparent;
	font-size: 0;
	line-height: 0;
}
.promoted p{
  margin:11px 31px 11px 42px;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--white-three);
}



.rating{
  width: 75px;
  height: 53px;
  padding: 9px;
  border-radius: 3.8px;
  background-color: #f5a626;
  align-self: flex-end;
  margin:30px 13px;
  text-align: center;
}
.rating span{
  font-size: 18px;
  font-weight: 500;
}
.rating p{
  margin:3px 2px;
}



.image-bottom{
  margin:11px 14px;
  justify-content: space-between;
}

.tags{
  justify-self: flex-end;
  align-items: center;
}
.tag{
  margin: 0px 7px 0 0;
  padding: 9px 18px;
  border-radius: 16.5px;
  background-color: #fff;
}
.tag p{
  margin:0;
  font-weight: 500;
  line-height: 1.33;
  color: #444444
}


.ranking{
  font-family: sans-serif;
  font-weight: 500;
  /* font-stretch: normal;
  font-style: normal; */
  line-height: 1.33;
  /* letter-spacing: normal; */
  text-align: left;
  color: var(--white-three);
}




/* college information */

.college-info{
  margin-left: 17px;
  margin-right:27px;
  justify-content: space-between;
}



.college-name-rating{
  align-items: center;
  justify-items: left;
  margin: 18px 11px 3px 0px;
}
.college-name{
  font-family: sans-serif;
  margin: 0px 11px  0px 0px;
  font-size: 18.5px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.97;
  letter-spacing: normal;
}
.star-ratings-css {
  /* unicode-bidi: bidi-override; */
  color: #c5c5c5;
  font-size: 11px;
  /* height: 25px; */
  width: 53px;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
}
.star-ratings-css span{
  margin-right:1px
}
.star-ratings-css-top {
  color: #444444;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}
.star-ratings-css-bottom {
  padding: 0;
  display: block;
  z-index: 0;
}



.famous-nearest-place span{
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
}

.nearest-place{
  font-family: sans-serif;
  font-size: 13.5px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #adadad;
  margin-bottom: 0px;
}
.nearest-place span{
  font-weight: bold;
  color: #37b396;
}



.fees{
  text-align: right;
  margin-top:13px;
}
.fees p{
  margin:0
}

.flex-fees{
  justify-content: flex-end;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.2;
  font-family: sans-serif;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color:#fff;
  margin-bottom: 10px;
}
.original-fees{
  margin: 15px 20px 13px 8px;
  color: #444444;
}
.discount{
  width: 24px;
  padding-right: 5px;
  height:14px;
  margin: 0 0 0 15px!important;
  background-color: #dd1c26;
  color: var(--white-three);
  position: relative;
}
.discount:before{
   position:absolute;
    content:"";
    color:white;
    text-shadow: 0 0 1px #333;
    font-size:11px;
    line-height:0px;
    text-indent:12px;
    right:100%;
    width: 1px;
    height:0px;
    border-right: 8px solid #dd1c26;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
}

.discounted-fees{
  margin: 3px 0px;
  font-family: sans-serif;
  font-size: 28.5px;
  font-weight: bold;
  line-height: 0.89;
  color: #dd1c26;
}

.fees-cycle{
  margin: 0;
  font-family: Myriad Pro;
  font-size: 11px;
  line-height: 1.64;
  color: #444444;
}


/* tile bottom */
.tile-bottom{
  margin: 9px 27px 0 1px;
  justify-content: space-between;
}

.offer{
  /* width: 347px; */
  padding: 11px 20px 11px 17px;
  background-color: #ccf5e7;
  border-radius: 0 20px 20px 0;
  
}
.offer p{
  height: 13px;
  margin:0;
  font-family: sans-serif;
  font-size: 13.5px;
  font-weight: bold;
  /* font-stretch: normal; */
  font-style: normal;
  letter-spacing: normal;
  color: #444444;
}

.amneties{
  font-family: sans-serif;
  font-size: 13.5px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #37b396;
  align-items: center;
}
.amneties p{
  margin:0;
  margin-left: 7px;
}
.amneties p:after{
  content: '';
  height: 3px;
  width: 3px;
  background-color: #37b396;
  border-radius: 50%;
  display: inline-block;
  line-height: 1;
  margin-left: 7px;
  vertical-align: middle;
}
.amneties p:last-child:after{
  display: none;
}




