@font-face {
  font-family: 'DINPro';
  src: local(DINPro-Regular),
    url('./fonts/DINPro-Regular_13937.woff') format("woff");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'DINPro';
  src: local(DINPro-Medium),
    url('./fonts/DINPro-Medium_13936.ttf') format("truetype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'DINPro';
  src: local(DINPro-Bold),
    url('./fonts/DINPro-Bold_13934.ttf') format("truetype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}



.text-white{
  color:white
}

.text-black{
  color:#444444
}

.text-gray{
  color:#adadad
}

.font-small{
  font-size: 13.5px;
}

.flex{
  display: flex;
}
